<%= turbo_frame_tag "cart" do%>
    <h2>Cart</h2>
    <% if @cart.order_products.count > 0 %>
    <%= render "cart/order_products" %>
    <p>Total: <%= @cart.total%> </p>
    <% else %>
    <p>Your Cart is Empty</p>
    <% end %>
<% end %>
