<h1>Your Cart</h1>
<%= render "cart/order_products" %>
<p>Current Total: <%= @cart.total%> </p>

<%= button_to "Checkout", cart_checkout_path,
    method: :post,
    data: {turbo: false},
    params: {
        checkout: {
            cart: @cart
        }
    }%>
