<div id="<%= dom_id shipment %>">
  <p>
    <strong>Shipment:</strong>
    <%= shipment.shipment_id %>
  </p>

  <p>
    <strong>Shipment date:</strong>
    <%= shipment.shipment_date %>
  </p>

</div>
